$black            : #000;
$white            : #fff;
$white-color      : #fff;
$transparent-color: transparent;
$textColor        : #231f20;
$blue-color       : #117ec2; 
$darkgrey-color   : #1c1b1b;
$yellow           : #fff143;
$darkgreen        : #01950b;
$green            : #84c341;
$darkgreen1       : #355a11;
$purple           : #3b1650;
$darkpurple       : #3e124f;
$red              : #e92718;
$lightYellow      : #f2fc83;
$blueBG           : #3494fa;
$parrot           : #88e52c;
$orange           : #f27914;
$lightorange      : #fdc689;
$color-2f         : #2f2f2f;
$color-fa         : #fafafa;
$grey-color       : #191919;
$color-18         : #181818;
$color-91         : #919191;
$color-99         : #999999;
$color-f5         : #f5f5f5;
$color-42         : #424242;
$color-c7         : #c7c7c7;
$btngreen         : #72bd31;
$color-f9         : #f9f9f9;
$color-d2         : #d2d2d2;
$color-66         : #666666;
$color-b2         : #b2b2b2;
$large-desktop    : 1400px;
$desktop          : 1367px;
$mini-desktop     : 1170px;
$tablet-landscape : 1024px;
$tablet           : 992px;
$ptablet          : 767px;
$mobile           : 479px;
$font             : "Comfortaa" !default;
$fontfamily       : 'comfortaaregular';
$moonfamily       : 'icomoon' !important;
$image-path		  : "../images" !default;
$font-path        : "../fonts" !default;
$icons-font-path  : "../fonts/icons/fonts" !default;