.modal {
	&.customModal {
		text-align: center;
		padding   : 0!important;
		&:before {
			content       : '';
			display       : inline-block;
			height        : 100%;
			vertical-align: middle;
			margin-right  : -4px;
			@media screen and (max-width:767px) {
				content: none;
			}
		} 

		.modal-dialog {
			display : inline-block;			
			vertical-align: middle;
			text-align    : left;
			@include clip-path(url("#modalBgSvg"));
			background-color: $white;
			.modal-content {
				@include box-shadow-none();
				border:0 none;
				.modal-header{
					padding: 0;
					border:0 none;
					.close {
						filter: alpha(opacity=80);
						opacity    : 0.8;
						margin     : 18px 20px 0 0;
						cursor     : pointer;	
						@media screen and (max-width:767px) {
							margin     : 8px 10px 0 0;
						}
						&:focus{
							outline:0 none;
						}				
					}
					h4{
						@include text-format-size(16px,$darkpurple,700);
						padding: 20px 25px;
						background-color: $lightYellow;
						@media screen and (max-width:767px) {
							padding: 10px 15px;
							font-size: 14px;
						}
						.resetlink{
							@include text-format-size(16px,$darkpurple,400);
							text-decoration: underline;
							margin-right: 15px;
						}
					}
				}
				.modal-body{
					padding: 25px;
					@media screen and (max-width:767px) {
						padding: 15px;
					}
					p{
						@include text-format(14px,$color-18);						
					}
					h2{
						@include text-format-size(18px,$color-18,700);
					}
					h3{
						@include text-format-size(24px,$color-18,700);
						@media screen and (max-width:767px) {
							font-size: 18px;
						}
					}
					.socialIcon{
						margin: 30px 0;
						@media screen and (max-width:992px) {
							margin: 20px 0;
						}
						li{
							margin: 0 10px;
							a{
								font-size:40px;
								@media screen and (max-width:992px) {
									font-size:25px;
								}
							}
						}
					}					
					.icon{
						i{
							@include text-format(76px,$orange);
							@media screen and (max-width:767px) {
								font-size: 40px;
							}
						}
					}
					&.forgetModal {
						p {
							margin-bottom: 35px;
							@media screen and (max-width:767px) {
								margin-bottom: 15px;
							}
						}
					}
					&.deleteImageModal {
						p {
							margin-bottom: 20px;
							@media screen and (max-width:767px) {
								margin-bottom: 15px;
							}
						}
					}
					&.evaluateModal{
						p {
							margin-bottom: 10px;							
						}
					}
					&.addImageModal{						
						p {
							margin-bottom: 10px;							
						}
					}
					&.whySecondModal{	
						h2{
							margin-top: 0;
						}					
						p {
							margin-bottom: 10px;
							font-weight: 700;
							font-size: 15px;	
							@media screen and (max-width:767px) {
								font-size: 14px;
							}						
						}
						h3{
							font-size: 16px;
							@media screen and (max-width:767px) {
								font-size: 15px;
							}	
						}
						h5{
							@include text-format-size(15px, $color-18,400);
							margin-bottom: 25px;
							@include pos(r, null);
							background-color: $white;
							@media screen and (max-width:767px) {
								font-size: 14px;
							}	
							&:before{
								@include pos(a, 14px null null 135px);
								content: '';
								width:calc(100% - 135px);
							   	border: 1px dotted $color-18;
							}
							span{
								display: block;
								font-size: 16px;
								margin-top: 8px;
								@media screen and (max-width:767px) {
									font-size: 15px;
								}	
							}
						}
					}
					&.bidModal{						
						p {
							margin-bottom:30px;							
						}
					}
					&.filterModal{	
						.inputSpaces{
							[class*="col-"]{
								@media screen and (max-width: 992px) {
									margin-bottom: 5px;
								}
							}	
						}					
						.optionsBox {
							.lableoption{
								display: inline-block;
								vertical-align: top;
								text-align: center;
								max-width: 12%;
								@media screen and (max-width: 992px) {
									max-width: 20%;
								}
								h2{
				            		display: inline-block;
				            		text-align: center;
				            		width:100%;
				            		white-space: nowrap;
				            		font-size: 14px;	
				            		@media screen and (max-width: 992px) {
				            			font-size: 13px;
    									margin: 5px 0 0 0;
				            		}			            	
				            	}
				                .optionsinner {
				                    display: inline-block;
				                    background  : {
				                        image : url("#{$image-path}/checkbg.png");
				                        repeat: no-repeat;
				                        size  : 100% auto;
				                    }
				                    text-align  : center;
				                    line-height : 80px;
				                    @include height-width(70px,69px);
				                }
				            }
			            }
			            .radio-outer {			            	
			                label {
			                    &.z_checked {
			                        @include pos(r, null);
			                        @include text-format(36px, $color-66);
			                        line-height: 72px;
			                        @include height-width(100%,100%); 
			                        margin: 0;
			                        @media screen and (max-width: 1200px) {
			                            font-size: 30px;
			                        }
			                        span {
			                            @include pos(r, null);
			                            cursor: pointer;
			                            display:block;
			                            &:after {
			                                @include square(22px);
			                                @include pos(a, -10px -10 auto auto);
			                                content: none;
			                                line-height: 22px;
			                                font-family: $moonfamily;

			                                @media screen and (max-width: 1200px) {
			                                    top: -6px;
			                                }
			                            }                        
			                        }
			                        input[type="checkbox"] {
			                            @include pos(a, 0 auto auto 0);
			                            visibility: hidden;
			                            &:checked {
			                                & + span {
			                                    &:after {
			                                        content: '';
			                                        background  : {
			                                            image : url("#{$image-path}/optioncheck.png");
			                                            repeat: no-repeat;
			                                            size  : 100% auto;
			                                        }
			                                    }
			                                }
			                            }
			                        }
			                    }
			                }
			            }
					}
					.bottombtn{
						padding-top: 20px;
						.button{
							margin: 2px 8px;
							@media screen and (max-width:479px) {
								margin: 2px 0;
							}
						}
					}
				}
			}
		}
	}
	&.alertPopup{
		text-align: center;
		padding   : 0!important;
		&:before {
			content       : '';
			display       : inline-block;
			height        : 100%;
			vertical-align: middle;
			margin-right  : -4px;
		}
		.modal-dialog {
			display       : inline-block;
			text-align    : left;
			vertical-align: middle;
			margin-top:0;
			margin-bottom:0;
			max-width: 510px;
			@include clip-path(url("#modalBgSvg"));
			background-color: $white;
			.modal-content {
				@include box-shadow-none();
				border:0 none;
				.modal-header{
					padding: 0;
					border:0 none;
					.close {
						filter: alpha(opacity=100);
						opacity    : 1;
						margin     : 18px 20px 0 0;
						cursor     : pointer;					
					}				
				}
				.modal-body{
					padding: 25px;
					.icon{
						i{
							@include text-format(76px,$orange);
							@media screen and (max-width:767px) {
								font-size: 40px;
							}
						}
					}
					h3{
						@include text-format-size(20px,$textColor,700);
						@media screen and (max-width:767px) {
							font-size: 18px;
						}
					}
					p{
						@include text-format(13px,$textColor);
					}					
				}
				.modal-footer{
					text-align: center;
				}
			}
		}
	}
}